<footer class="page-footer">
  <div class="page-wrapper page-wrapper--footer">
    <content></content>
    <ul class="page-footer__social">
      <li class="page-footer__social-item">
        <a class="page-footer__social-item-link" href="#">Инстаграм
          <svg class="page-footer__social-item-image footer-link-mixin" width="22" height="21">
            <use xlink:href="#icon-insta"></use>
          </svg>
        </a>
      </li>
      <li class="page-footer__social-item">
        <a class="page-footer__social-item-link" href="#">Фейсбук
          <svg class="page-footer__social-item-image footer-link-mixin" width="15" height="28">
            <use xlink:href="#icon-fb"></use>
          </svg>
        </a>
      </li>
      <li class="page-footer__social-item">
        <a class="page-footer__social-item-link" href="#">Твиттер
          <svg class="page-footer__social-item-image footer-link-mixin" width="23" height="20">
            <use xlink:href="#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="page-footer__border"></div>
    <div class="page-footer__dev">
      <a class="page-footer__dev-link" href="https://htmlacademy.ru/intensive/adaptive" aria-label="Переход на сайт HTML academy">
        <span class="page-footer__dev-link-item">Разработано</span>
        <svg class="page-footer__dev-link-logo" width="27" height="34">
          <use xlink:href="#icon-logo-htmlacademy"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>