<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="keywords" content="магазин, мишка, магазин мишка, вещи ручной работы, хенд-мейд, вязание">
  <meta name="description" content="магазин мишка">
  <link rel="preload" href="./fonts/opensans.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="./fonts/opensansbold.woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.min.css">
  <content></content>
</head>
