<header class="page-header">
  <div class="page-wrapper page-wrapper--header">
    <div class="page-header-logo-wrapper">
      <content></content>
    </div>
    <button class="page-header__toggle display-none">Меню</button>
    <nav class="main-nav">
      <ul class="main-nav__list site-list site-list--tablet">
        <li class="site-list__item site-list--catalog">
          <a class="site-list__link site-list__link--tablet site-list__link--catalog link-mixin" href="./catalog.html">Каталог товаров</a>
        </li>
        <li class="site-list__item site-list--knitting">
          <a class="site-list__link site-list__link--tablet site-list__link--knitting link-mixin" href="./form.html">Вязание на заказ</a>
        </li>
      </ul>
      <a class="page-header__logo-desktop page-header__logo-desktop-link link-mixin" href="./index.html">
        <img src="./img/logo-desktop.svg" width="149" height="72" alt="лого">
      </a>
      <ul class="main-nav__list site-list">
        <li class="site-list__item site-list--search">
          <a class="site-list__link site-list__link--search link-mixin" href="#">Поиск по сайту</a>
        </li>
        <li class="site-list__item site-list--basket">
          <a class="site-list__link site-list__link--basket link-mixin" href="#">Корзина: пока пуста</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
