<div class="modal-overlay display-none"></div>
<div class="modal display-none">
  <h2 class="modal__headline">ДОБАВИТЬ<br> В КОРЗИНУ</h2>
  <span class="modal__note">Выберите размер:</span>
  <form class="modal__form" action="#">
    <input class="modal__input" id="s" name="size" type="radio" value="size-S">
    <label class="modal__indicator" for="s">S</label>
    <input class="modal__input" id="m" name="size" type="radio" value="size-M">
    <label class="modal__indicator" for="m">M</label>
    <input class="modal__input" id="l" name="size" type="radio" value="size-L">
    <label class="modal__indicator" for="l">L</label>
  </form>
  <button class="modal__button button" type="submit">ДОБАВИТЬ</button>
</div>