.block-border {
  .size(100%; 9px);

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: contain;
}

@media (min-width: @width-tablet) {
  .block-border {
    height: 15px;
  }
}
