.blog-item {
  display: flex;
  flex-direction: column;
}

.blog-item__header {
  display: flex;
  align-items: center;
  .padding(18px; 32px; 23px; 32px);
}

.blog-item__headline {
  margin-top: 7px;
  margin-bottom: 0;
  margin-left: 25px;

  .font(17px; 24px; bold);
}

.blog-item__video-wrapper {
  position: relative;

  display: block;
}

.blog-item__video-wrapper::before {
  .before-after(50%; initial; initial; 50%);
  z-index: 1;

  margin-top: -39px;
  margin-left: -51px;

  display: block;
  .size(102px; 78px);

  .bi("icon-play.svg";);
  background-position: center;
}

.blog-item__video-wrapper:hover::before {
  transform: scale(1.2);
}

.blog-item__video-wrapper:active::before {
  transform: scale(0.8);
  opacity: 0.5;
}

.blog-item__video {
  .size(100%; auto);
  min-width: 150px;

  .bi("video-mobile@1x.jpg");

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .bi("video-mobile@2x.jpg");
    background-size: 260px auto;
  }
}

.blog-item__description {
  .padding(12px; 34px; 12px; 34px);

  .font(13px; 24px);
}

.blog-item__button {
  display: block;
  .margin(0; 33px; 33px; 33px);
  padding: 16px;

  .font(17px; 16px; bold);
}


@media (min-width: @width-tablet) {
  .blog-item {
    border: 1px solid @gray;
  }

  .blog-item picture {
    order: -1;
  }

  .blog-item__header {
    .padding(29px; 36px; 30px; 36px);
  }

  .blog-item__headline {
    margin-left: 27px;

    font-size: 20px;
  }

  .blog-item__description {
    margin: 0;
    .padding(0; 40px; 35px; 40px);

    .font(15px; 30px;);
  }

  .blog-item__button {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 45px;
  }

  .blog-item__video {
    .bi("video-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      .bi("video-tablet@2x.jpg");
      background-size: 668px auto;
    }
  }

  .blog-item__video-container {
    order: -1;
  }
}

@media (min-width: @width-desktop) {
  .blog-item {
    min-height: 455px;
    padding-left: 680px;
  }

  .blog-item:hover {
    box-shadow: 0 6px 10px 0 @shadow;
  }

  .blog-item__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 41px;
    padding-bottom: 32px;
    padding-left: 79px;
  }

  .blog-item__header-icon {
    margin-bottom: 23px;
  }

  .blog-item__headline {
    margin: 0;
    .padding(0; 70px; 0; 0);
  }

  .blog-item__description {
    padding-left: 79px;
    padding-bottom: 45px;
  }

  .blog-item__button {
    margin-left: 81px;
    margin-right: 57px;
    margin-bottom: 60px;
  }

  .blog-item__video {
    .bi("video-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      .bi("video-desktop@2x.jpg");
      background-size: 682px auto;
    }
  }

  .blog-item__video-container {
    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    .size(682px; 455px);
  }
}
