.blog-item {
  &__header {
    display: flex;
    align-items: center;
    padding: 20px 35px;
  }

  &__headline {
    width: 125px;
    margin-top: 7px;
    margin-bottom: 0;
    margin-left: 25px;

    .font(17px; 24px);
  }

  &__video {
    position: relative;

    .size(260px; 150px);

    background-image: url("../img/video-mobile@1x.jpg");
  }

  &__video::before {
    .before-after(37px; 80px);

    display: block;
    .size(101px; 77px);

    background-image: url("../img/icon-play.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__description {
    .size(180px; 30px);

    .font(13px; 24px);
  }

  &__button {
    display: block;
    .margin(0; 30px; 33px; 30px);
    padding: 16px;

    .font(17px; 16px);
  }
}
