.blog-item {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    padding: 20px 35px;
  }

  &__headline {
    margin-top: 7px;
    margin-bottom: 0;
    margin-left: 25px;

    .font(17px; 24px; bold);
  }

  &__video {
    position: relative;

    .size(100%; auto);
    min-width: 150px;

    .bi("../img/video-mobile@1x.jpg";);
  }

  &__video::before {
    .before-after(37px; 80px);

    display: block;
    .size(101px; 77px);

    .bi("../img/icon-play.svg";);
    background-position: center;
  }

  &__description {
    padding: 34px;

    .font(13px; 24px);
  }

  &__button {
    display: block;
    .margin(0; 30px; 33px; 30px);
    padding: 16px;

    .font(17px; 16px; bold);
  }
}

@media (min-width: @width-tablet) {
  .blog-item {
    &__headline {
      font-size: 20px;
    }

    &__description {
      .padding(40px; 97px; 40px; 40px);

      .font(15px; 30px;);
    }
  }
}
