.catalog-item {
  margin-bottom: 30px;
  max-width: 400px;

  &__image-link {
    display: block;
    min-width: 260px;
    min-height: 195px;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__description {
    margin-top: -3px;
    padding: 28px;
    border: 1px solid @gray;
  }

  &__headline-link {
    display: inline-block;

    text-decoration: none;
  }

  &__headline {
    margin: 0;
    margin-bottom: 5px;

    font-size: 17px;
    line-height: 24px;
    color: @black;
  }

  &__specifications {
    display: block;
    margin-bottom: 15px;

    font-size: 13px;
    line-height: 30px;
  }

  &__border {
    height: 1px;
    margin-bottom: 15px;
    background-color: @gray;
  }

  &__price-wrapper {
    display: flex;
  }

  &__price {
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
  }

  &__basket {
    margin-left: auto;
    opacity: 0.2;
  }
}

@media (min-width: @width-tablet) {
  .catalog-item {
    display: flex;
    // flex-basis: 334px;
    max-width: initial;
    margin-bottom: 54px;

    &__image-link {
      .size(334px; 334px);
    }

    &__description {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-top: 0;
    }

    &__headline {
      width: 230px;

      font-size: 20px;
    }

    &__specifications {
      margin-bottom: auto;

      font-size: 15px;
    }

    &__price {
      margin-top: 15px;

      font-size: 17px;
    }
  }
}

@media (min-width: @width-desktop) {
  .catalog-item {
    flex-direction: column;
    margin-left: 51px;

    &__image-link {
      width: 316px;
      height: auto;
      margin-bottom: -3px;
    }

    &__description {
      .padding(28px; 32px; 28px; 28px);
    }
  }
}
