.catalog-item {
  margin-bottom: 30px;
  max-width: 400px;
}

.catalog-item__image-link {
  display: block;
  min-width: 260px;
  min-height: 195px;

  font-size: 0;
}

.catalog-item__image {
  width: 100%;
  height: auto;
}

.catalog-item__description {
  padding: 27px;
  border: 1px solid @gray;
}

.catalog-item__headline-link {
  text-decoration: none;
}

.catalog-item__headline {
  margin: 0;
  margin-bottom: 4px;

  font-size: 17px;
  line-height: 24px;
  color: @black;
}

.catalog-item__specifications {
  display: block;
  margin-bottom: 19px;

  font-size: 13px;
  line-height: 30px;
}

.catalog-item__border {
  height: 1px;
  margin-bottom: 21px;
  background-color: @gray;
}

.catalog-item__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.catalog-item__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.catalog-item__basket {
  margin-left: auto;
  opacity: 0.2;
}

.catalog-item__basket:hover {
  color: @light-green;
  opacity: 1;
}

.catalog-item__basket:active {
  color: @light-green;
  opacity: 0.3;
}


@media (min-width: @width-tablet) {
  .catalog-item {
    display: flex;
    max-width: initial;
    margin-bottom: 54px;
  }

  .catalog-item__image-link {
    .size(334px; 334px);
  }

  .catalog-item__description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 0;
    .padding(25px; 32px; 25px; 26px);
  }

  .catalog-item__headline {
    width: 230px;

    font-size: 20px;
  }

  .catalog-item__specifications {
    width: 230px;
    margin-bottom: auto;

    font-size: 15px;
  }

  .catalog-item__border {
    margin-bottom: 8px;
  }

  .catalog-item__price {
    width: 230px;
    margin-top: 15px;
    margin-left: 5px;

    font-size: 17px;
  }
}


@media (min-width: @width-desktop) {
  .catalog-item {
    flex-direction: column;
    margin-left: 51px;
    margin-bottom: 57px;
  }

  .catalog-item:hover {
    box-shadow: 0 6px 10px 0 @shadow;
  }

  .catalog-item:active {
    box-shadow: 0 3px 5px 0 @shadow;
  }

  .catalog-item__image-link {
    width: 316px;
    height: auto;
  }

  .catalog-item__description {
    .padding(26px; 32px; 25px; 26px);
  }

  .catalog-item__border {
    margin-top: 15px;
  }

  .catalog-item__price {
    margin-left: 0;
  }
}
