.catalog {
  &-header {
    position: relative;

    background-color: #f1f1f1;
  }

  &__headline {
    margin: 0;
    padding: 75px 40px;

    font-size: 27px;
    line-height: 30px;
    text-align: center;
  }
}

@media (min-width: @width-tablet) {
  .catalog {
    &-header::after {
      .before-after(initial; initial; -2px; initial);

      .size(100%; 24px);

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: contain;
    }
  }
}
