.catalog {
  margin: 0 auto;
}

@media (min-width: @width-tablet) {
  .catalog {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @width-desktop) {
  .catalog {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
