.catalog-item {
  margin-bottom: 30px;

  &__image {
    display: block;
    width: 260px;
    height: 195px;
  }

  &__description {
    border: 1px solid @gray;
    padding: 28px;
  }

  &__headline-link {
    text-decoration: none;
  }

  &__headline {
    font-size: 17px;
    line-height: 24px;
    color: black;
    margin: 0;
    margin-bottom: 5px;
  }

  &__specifications {
    display: block;
    font-size: 13px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  &__border {
    height: 1px;
    background-color: @gray;
    margin-bottom: 15px;
  }

  &__price-wrapper {
    display: flex;
  }

  &__price {
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
  }

  &__basket {
    opacity: 0.2;
    margin-left: auto;
  }

}
