.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__headline {
  .margin(33px; 30px; 26px; 28px);

  .font(18px; 30px; bold);
}

.contacts__address {
  .margin(0; 30px; 37px; 30px);

  padding: 0;

  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  color: @greyish-brown;

  list-style: none;
}

.contacts__tr {
  display: flex;
  margin-bottom: 30px;
}

.contacts__row:nth-child(1) {
  margin-right: 32px;
}

.contacts__email {
  position: relative;

  padding-bottom: 3px;

  border-bottom: 1px solid @light-green;
  color: @greyish-brown;
  text-decoration: none;
}

.contacts__map {
  position: relative;

  .size(100%; auto);
  min-height: 457px;
  margin-left: auto;
  margin-right: auto;

  .bi("map-tablet@1x.jpg");
  background-position: center;
}

.contacts__map::after {
  .before-after(50%; initial; initial; 50%);

  .size(67px; 100px);
  margin-top: -89px;
  margin-left: -20px;

  .bi("icon-map-pin.svg");
}

.contacts__button {
  display: block;
  max-width: 260px;
  margin: 39px auto;
  .padding(14px; 49px; 14px; 49px);
}

.contacts__br-tablet {
  display: none;
}


@media (min-width: @width-tablet) {
  .contacts__headline {
    position: relative;

    margin-left: 46px;
    margin-right: 53px;
    margin-bottom: 32px;
    padding-top: 29px;
    padding-bottom: 17px;

    .font(43px; 50px; bold);
  }

  .contacts__headline::before {
    .before-after(initial; 0; 0; initial);

    .size(47px; 81px);

    background-image: url("../img/icon-flag.svg");
  }

  .contacts__address {
    display: flex;

    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 26px;


    font-size: 17px;
  }

  .contacts__tr {
    margin-right: 64px;
  }

  .contacts__tr:last-child {
    margin-right: 0;
  }

  .contacts__row {
    max-width: 70%;
  }

  .contacts__row:nth-child(1) {
    margin-right: 26px;
  }

  .contacts__br-mobile {
    display: none;
  }

  .contacts__br-tablet {
    display: block;
  }

  .contacts__map {
    .size(768px; 457px);
  }

  .contacts__button {
    max-width: 230px;
    margin: 55px auto;
    padding-left: 39px;
    padding-right: 38px;
  }
}


@media (min-width: @width-desktop) {
  .contacts__headline {
    margin-left: -5px;
    margin-right: 0;

    .font(53px; 57px; bold);
  }

  .contacts__headline::before {
    right: initial;
    left: -107px;
    bottom: 2px;
  }

  .contacts__address {
    margin: 0;
    flex-wrap: wrap;
  }

  .contacts__row {
    max-width: 67%;
  }

  .contacts__button {
    margin-top: 48px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .contacts__map {
    position: absolute;
    z-index: -1;
    bottom: 100px;
    right: 51px;

    .size(525px; 457px);

    .bi("map-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      .bi("map-desktop@2x.jpg");
      background-size: 525px auto;
    }
  }
}
