.contacts {

  &__headline {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    margin: 30px;
    margin-bottom: 25px;
  }

  &__address {
    margin: 0 30px;
    margin-bottom: 40px;
    padding: 0;
    list-style: none;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    font-style: normal;
    color: @content-text-color;
  }

  &__tr {
    margin-bottom: 25px;
    display: flex;
  }

  &__row--margin {
    margin-right: 32px;
  }

  &__email {
    position: relative;
    text-decoration: none;
    color: @content-text-color;
  }

  &__email::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: @light-green;
    bottom: -5px;
    left: 0;
  }

  &__map {
    position: relative;
    min-width: 320px;
    min-height: 457px;
    background-image: url("../img/map-mobile@1x.jpg");
    background-position: center;
  }

  &__map::after {
    content: "";
    position: absolute;
    width: 67px;
    height: 100px;
    background-image: url("../img/icon-map-pin.svg");
    background-repeat: no-repeat;
    left: 139px;
    top: 145px;
  }

  &__button {
    display: block;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    padding: 14px;
    margin: 39px 30px;
  }
}
