.footer-link {
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-basis: 200px;


  &__item {
    margin-right: 30px;

    font-size: 19px;
    line-height: 34px;
    font-weight: bold;
  }

  a {
    font-size: 0;
  }

  // &__logo {
  //   margin-top: 10px;
  // }
}

@media (min-width: @width-tablet) {
  .footer-link {
    margin: 0;
  }
}
