.footer-link {
  display: flex;
  align-items: center;
  margin: 0 auto;


  &__item {
    font-size: 19px;
    line-height: 18px;
    font-weight: bold;
    margin-right: 30px;
  }

  &__logo {
      margin-top: 10px;
      margin-right: 20px;
  }
}
