.main-nav {
  display: flex;
  flex-direction: column;

  &__list {
    width: auto;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__list:last-child {
    margin-top: -1px;
  }

  &--none {
    display: none;
  }
}

.site-list {
  &__item {
    border-top: 1px solid @gray;
  }

  &__item:last-child {
    border-bottom: 1px solid @gray;
  }

  &__link {
    display: block;
    .padding(29px; 35px; 29px; 77px);

    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    color: black;

    text-decoration: none;
  }

  &--search {
    position: relative;
  }

  &--basket {
    position: relative;
  }

  &--search::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 32px;
    z-index: -1;

    width: 18px;
    height: 18px;

    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;

    opacity: 0.2;
  }

  &--basket::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 30px;
    z-index: -1;

    width: 21px;
    height: 19px;

    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;

    opacity: 0.2;
  }
}

@media (min-width: @width-tablet) {
  .main-nav {
    display: flex;
    margin-left: auto;
  }


  .site-list {
    display: flex;
    flex-wrap: wrap;

    &__link--search {
      padding: 32px 41px;

      font-size: 0;

      border-left: 1px solid @gray;
    }

    &__link--basket {
      .padding(32px; 52px; 32px; 82px);

      border-left: 1px solid @gray;
    }

    &--tablet {
      position: absolute;
      left: 52px;
      top: 110px;
      z-index: 1;

      max-width: 50%;
    }

    &__link--tablet {
      padding: 0;
      margin-right: 37px;

      font-size: 15px;
    }

    &__item {
      border: none;
    }

    &__item:last-child {
      border: none;
    }
  }
}

@media (min-width: @width-desktop) {
  .main-nav {
    flex-direction: row;
    width: 100%;
    margin: 0;
  }

  .site-list {
    &:last-child {
      margin-left: auto;
    }

    &:first-child {
      margin-right: auto;
    }

    &--tablet {
      position: initial;

      max-width: initial;
    }

    &__link {
      margin: 0;
      padding-top: 32px;
      padding-bottom: 32px;
    }

    &__link--catalog {
      padding-left: 52px;
      padding-right: 35px;

      font-size: 17px;
    }

    &__link--knitting {
      padding-left: 35px;

      font-size: 17px;
      border-left: 1px solid @gray;
    }
  }
}
