.main-nav {
  display: flex;

  &__list {
    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__list--none {
    display: none;
  }
}

.site-list {
  &__item {
    border-top: 1px solid @gray;
  }

  &__item:last-child {
    border-bottom: 1px solid @gray;
  }

  &__link {
    display: block;
    padding: 29px 35px 29px 77px;

    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    color: black;

    text-decoration: none;
  }

  &--search {
    position: relative;
  }

  &--basket {
    position: relative;
  }

  &--search::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 32px;
    z-index: -1;

    width: 18px;
    height: 18px;

    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;

    opacity: 0.2;
  }

  &--basket::before {
    content: "";
    position: absolute;
    top: 31px;
    left: 30px;
    z-index: -1;

    width: 21px;
    height: 19px;

    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;

    opacity: 0.2;
  }
}

@media (min-width: @width-tablet) {
  .main-nav {
    margin-left: auto;

    &__list {
      display: flex;
    }
  }

  .site-list {
    &__item {
      position: relative;
      border: none;
      padding: 0;
      text-align: center;
      vertical-align: middle;
    }

    &__item:last-child {
      border: none;
    }

    &__link {
      padding: 0;
    }

    &__link--catalog {
      font-size: 15px;
    }

    &__link--knitting {
      font-size: 15px;
    }

    &--search {
      order: -1;

      width: 82px;

      border-left: 1px solid @gray;
      border-right: 1px solid @gray;
    }

    &--search::before {
      top: 36px;
      left: 33px;
    }

    &--basket {
      order: -1;
    }

    &--basket::before {
      top: 35px;
      left: 31px;
    }

    &__link--search {
      display: block;
      width: 100%;
      height: 100%;
      padding: 0;

      font-size: 0;
    }

    &__link--basket {
      display: block;
      padding: 32px 52px 32px 83px;
    }

    &--knitting {
      position: absolute;
      bottom: -44px;
      left: 52px;
      z-index: 1;
    }

    &--catalog {
      position: absolute;
      bottom: -44px;
      left: 220px;
      z-index: 1;
    }
  }
}
