.page-footer {
  display: flex;
  flex-direction: column;
  padding: 25px 31px;
  padding-bottom: 18px;

  background-color: @bg-gray;

  &__logo {
    display: none;
  }

  &__border {
    height: 1px;
    margin-bottom: 10px;

    background-color: @gray;
  }
}

@media (min-width: @width-tablet) {
  .page-footer {
    padding: 0;

    &__link {
      flex-basis: 200px;
    }

    &__logo {
      display: block;
      // height: 43px;
      // margin-right: 80px;
      // padding-bottom: 6px;
    }

    &__border {
      display: none;
    }
  }
}
