.page-header {
  position: relative;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.page-header__logo {
  width: 86px;
  height: 35px;
}

.page-header__logo-desktop {
  display: none;
}

.page-header__toggle {
  position: absolute;
  top: 29px;
  right: 32px;

  .size(20px; 20px);

  font-size: 0;

  .bi("icon-menu-open.svg";);
  background-position: center;
  background-color: @tp;
  border: none;
}

.page-header__toggle-close {
  .bi("icon-menu-close.svg";);
  background-position: center;
}

.page-header-logo-wrapper {
  .margin(21px; auto; 20px; auto);
}

@media (min-width: @width-tablet) {
  .page-header-logo-wrapper {
    .margin(22px; 0; 0; 48px);
  }

  .page-header {
    position: relative;

    flex-direction: row;
    flex-wrap: nowrap;
  }

  .page-header__logo-link {
    display: block;
  }

  .page-header__logo {
    width: 112px;
    height: 46px;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: @width-desktop) {
  .page-header__logo {
    .size(149px; 72px);
  }

  .page-header-logo-wrapper {
    z-index: 1;

    margin-top: 8px;
    margin-right: -649px;
    margin-left: ~"calc(50% - 75px)";
  }
}
