.promo {
  background-color: rgb(249, 249, 249);
}

.promo__headline {
  margin: 71px auto;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.promo__button {
  display: block;
  .padding(20px; 26px; 22px; 29px);

  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  color: @white;
}

.promo__button--left {
  background-color: @light-green;
}

.promo__button--right {
  background-color: @green;
}

.promo__button-title {
  display: inline-block;
  width: 120px;
  vertical-align: middle;
}

.promo__button-icon {
  opacity: 0.2;
}

.promo__button-icon--left {
  margin-right: 10px;
}

.promo-button-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo-headline-wrapper {
  display: flex;
  min-height: 283px;

  .bi("hero-mobile@1x.jpg";);
  background-position: center -17px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .bi("hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
}

.promo-button-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 420px) {
  .promo {
    position: relative;
  }

  .promo__br {
    display: none;
  }
}


@media (min-width: @width-tablet) {
  .promo__br {
    display: none;
  }

  .promo__headline {
    margin-top: 112px;

    font-size: 43px;
    line-height: 50px;
  }

  .promo__button {
    flex-basis: 50%;
    .padding(28px; 36px; 38px; 36px);

    font-size: 20px;
    line-height: 30px;
  }

  .promo__button-icon--left {
    margin-right: 0;
  }

  .promo-headline-wrapper {
    min-height: 585px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center -41px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .promo-button-wrapper {
    flex-direction: row;
    padding: 0 50px;
  }

  .promo::after {
    content: "";
    position: absolute;
    bottom: -3px;

    .size(100%; 24px);

    .bi("bg-zigzag-fill.svg"; repeat-x);
    background-size: contain;
  }
}

@media (min-width: @width-desktop) {
  .promo__headline {
    .font(53px; 57px; bold);
  }

  .promo::after {
    bottom: -8px;

    height: 34px;
  }

  .promo-headline-wrapper {
    background-position: center -42px;
  }

  .promo__button:hover {
    padding-top: 23px;
    padding-bottom: 43px;
  }

  .promo__button--left:hover {
    box-shadow: 0 -5px 0 0 @light-green;
  }

  .promo__button--right:hover {
    box-shadow: 0 -5px 0 0 @green;
  }

  .promo__button:active .promo-button-content-wrapper {
    opacity: 0.3;
  }
}
