.promo {
  background-color: rgb(249, 249, 249);

  &__headline {
    margin: 71px auto;

    font-size: 27px;
    line-height: 30px;
    text-align: center;
  }

  &__button {
    display: block;
    .padding(16px; 25px; 19px; 29px);

    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    line-height: 24px;
    color: @white;
  }

  &__button--left {
    background-color: @light-green;
  }

  &__button--right {
    background-color: @green;
  }

  &__button-title {
    display: inline-block;
    width: 120px;
    vertical-align: middle;
  }

  &__button-icon {
    opacity: 0.2;
  }

  &__button-icon--left {
    margin-top: 6px;
    margin-right: 10px;
  }


  &__button-icon--right {
    margin-top: 6px;
    margin-bottom: 2px;
  }
}

.promo-button-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo-headline-wrapper {
  display: flex;
  min-height: 283px;

  .bi("../img/hero-mobile@1x.jpg";);
  background-position: center -17px;
}

.promo-button-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 420px) {
  .promo {
    position: relative;

    &__br {
      display: none;
    }
  }
}

@media (min-width: @width-tablet) {
  .promo {
    &__br {
      display: none;
    }

    &__headline {
      margin-top: 112px;

      font-size: 43px;
      line-height: 50px;
    }

    &__button {
      flex-basis: 50%;
      .padding(25px; 25px; 35px; 36px);

      font-size: 20px;
      line-height: 30px;
    }

    &__button-icon--right {
      margin-right: 9px;
    }
  }

  .promo-headline-wrapper {
    min-height: 585px;

    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: center -41px;
  }

  .promo-button-wrapper {
    flex-direction: row;
    padding: 0 50px;
  }

  .promo::after {
    content: "";
    position: absolute;
    bottom: -3px;

    .size(100%; 24px);

    .bi("../img/bg-zigzag-fill.svg"; repeat-x);
    background-size: contain;
  }
}

@media (min-width: @width-desktop) {
  .promo {
    &__headline {
      .font(53px; 57px; bold);
    }

    &::after {
      bottom: -8px;

      height: 34px;
    }
  }

  .promo-headline-wrapper {
    background-position: center -42px;
  }
}
