.reviews {
  margin: 0;
  .padding(27px; 28px; 44px; 28px);
}

.reviews__headline {
  margin-top: 0;
  margin-bottom: 24px;

  .font(25px; 30px; bold);
}

.reviews__item {
  margin: 2px;
}

.reviews__text {
  .margin(0; 0; 25px; 0);

  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: @greyish-brown;
}

.reviews__author {
  display: block;
  margin-bottom: 28px;

  font-style: normal;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.reviews__author-social {
  font-weight: normal;
}

.reviews__switches {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;

  border: 1px solid @gray;
}

.reviews__switches-button {
  display: flex;
  width: 50%;
  padding: 12px 38px;
}

.reviews__switches-button:last-child {
  border-left: 1px solid @gray;
}

.reviews__switches-forward {
  margin-left: auto;
}

.reviews__button-border {
  display: block;
  width: 1px;

  background-color: @gray;
}

.reviews__button {
  display: block;
  padding: 14px;
}

@media (min-width: @width-tablet) {
  .reviews {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .reviews__headline {
    margin-top: 13px;
    margin-bottom: 20px;

    .font(43px; 50px; bold);
  }

  .reviews__switches-button:last-child {
    border: none;
  }

  .reviews__switches-button {
    padding: 0;
  }

  .reviews__button {
    order: 1;

    margin-left: auto;
    padding: 14px 38px;
  }

  .reviews__item {
    order: 2;
  }

  .reviews__text {
    width: 100%;
    margin-top: 29px;
    margin-bottom: 54px;

    font-size: 17px;
  }

  .reviews__author {
    order: 3;

    font-size: 18px;
  }

  .reviews__switches {
    order: 4;

    width: 175px;
    margin-top: -95px;
    margin-left: auto;
    padding: 19px;

    font-size: 18px;
    line-height: 24px;
    border: none;
  }
}

@media (min-width: @width-desktop) {
  .reviews {
    padding-left: 50px;
  }

  .reviews__headline {
    margin-top: 9px;
    margin-bottom: 19px;

    .font(53px; 57px; bold);
  }

  .reviews__item {
    padding-right: 10%;
  }

  .reviews__text {
    margin-bottom: 36px;
  }
}
