.reviews {
  margin: 0;
  padding: 30px;

  &__headline {
    margin: 0;
    margin-bottom: 35px;

    font-size: 25px;
    line-height: 30px;
  }

  &__item {
    width: 250px;
    margin: 0;
    margin-bottom: 25px;

    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    color: @content-text-color;
  }

  &__author {
    display: block;
    margin-bottom: 30px;

    font-style: normal;
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
  }

  &__author-social {
    font-weight: normal;
  }

  &__switches {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;

    border: 1px solid @gray;
  }

  &__switches-button {
    display: inline-block;
    padding: 10px 38px;
  }

  &__button-border {
    display: block;
    width: 1px;

    background-color: @gray;
  }

  &__button {
    display: block;
    padding: 14px;
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
  }
}
