.top-product {
  display: flex;
  flex-direction: column;
  .padding(27px; 30px; 30px; 30px);
}

.top-product__main {
  display: flex;
  flex-direction: column;
}

.top-product__headline {
  .margin(0; 0; 6px; 0);
  padding: 0;

  .font(25px; 30px; bold);
}

.top-product__sub-headline {
  display: block;
  margin-bottom: 22px;

  .font(17px; 20px; bold);
  color: @light-green;
}

.top-product__description {
  display: block;
  .margin(0; 0; 18px; 0);

  padding: 0;

  .font(15px; 24px;);
  color: @content-text-color;
}

.top-product__specifications {
  list-style: none;
  .margin(0; 0; 28px; 0);

  padding: 0;

  .font(15px; 20px;);
  color: @content-text-color;
}

.top-product__specifications-item {
  .padding(9px; 0; 10px; 0);
  border-bottom: 1px solid @gray;
}

.top-product__tr {
  display: inline-block;
  width: 92px;
}

.top-product__image {
  width: 100%;
  height: auto;
  min-height: 315px;
  .margin(0; auto; 21px; auto);
}

.top-product__price {
  .margin(0; auto; 26px; auto);

  .font(17px; 24px; bold);
}

.top-product__button {
  padding: 14px;
  margin-bottom: 6px;
}

@media (min-width: @width-tablet) {
  .top-product {
    .padding(37px; 50px; 53px; 50px);
  }

  .top-product__main {
    position: relative;
    padding-right: 377px;
    display: block;
  }

  .top-product__header {
    display: flex;
    align-items: center;
    margin-bottom: 43px;
  }

  .top-product__headline {
    .font(43px; 50px; bold);
    text-indent: -3px;
  }

  .top-product__sub-headline {
    width: 70px;
    text-indent: 8px;
    .margin(0; 30px; 0; auto);
    vertical-align: middle;

    .font(17px; 17px; bold);
  }

  .top-product__image {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;

    width: 333px;
    height: 404px;
    margin: 0;
  }

  .top-product__description {
    margin-bottom: 36px;

    .font(17px; 30px;);
  }

  .top-product__specifications {
    margin-bottom: 56px;
  }

  .top-product__price {
    display: block;
    .margin(0; auto; 34px; auto);

    text-align: center;
    font-size: 20px;
  }

  .top-product__button {
    display: block;
    margin: 0;
    padding: 14px;
  }
}

@media (min-width: @width-desktop) {
  .top-product {
    padding-top: 115px;
    padding-bottom: 71px;
  }


  .top-product__headline {
    order: 1;

    .font(53px; 57px; bold);
  }

  .top-product__sub-headline {
    margin-left: 46px;
    margin-right: 57px;
  }

  .top-product__main {
    position: initial;

    margin-left: 175px;
    padding-right: 583px;
  }

  .top-product__image {
    bottom: 0;
    right: 0;

    .size(525px; 636px);
  }

  .top-product__description {
    margin-bottom: 48px;
  }

  .top-product__specifications {
    margin-bottom: 111px;
  }

  .top-product__button {
    padding: 14px;
  }
}
