.top-product {
  display: flex;
  flex-direction: column;
  .padding(27px; 30px; 30px; 30px);

  &__main {
    display: flex;
    flex-direction: column;
  }

  &__headline {
    .margin(0; 0; 6px; 0);
    padding: 0;

    .font(25px; 30px; bold);
  }

  &__sub-headline {
    display: block;
    margin-bottom: 22px;

    .font(17px; 20px; bold);
    color: @light-green;
  }

  &__description {
    display: block;
    .margin(0; 0; 18px; 0);

    padding: 0;

    .font(15px; 24px;);
    color: @content-text-color;
  }

  &__specifications {
    list-style: none;
    .margin(0; 0; 28px; 0);

    padding: 0;

    .font(15px; 20px;);
    color: @content-text-color;
  }

  &__specifications-item {
    .padding(9px; 0; 10px; 0);
    border-bottom: 1px solid @gray;
  }

  &__tr {
    display: inline-block;
    width: 92px;
  }

  &__image {
    width: 100%;
    height: auto;
    min-height: 315px;
    .margin(0; auto; 21px; auto);
  }

  &__price {
    .margin(0; auto; 26px; auto);

    .font(17px; 24px; bold);
  }

  &__button {
    padding: 14px;
    margin-bottom: 6px;
  }
}

@media (min-width: @width-tablet) {
  .top-product {
    .padding(37px; 50px; 53px; 50px);

    &__main {
      position: relative;
      padding-right: 377px;
      display: block;
    }

    &__header {
      display: flex;
      align-items: center;
      margin-bottom: 43px;
    }

    &__headline {
      .font(43px; 50px; bold);
      text-indent: -3px;
    }

    &__sub-headline {
      width: 70px;
      text-indent: 8px;
      .margin(0; 30px; 0; auto);
      vertical-align: middle;

      .font(17px; 17px; bold);
    }

    &__image {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;

      width: 333px;
      height: 404px;
      margin: 0;
    }

    &__description {
      margin-bottom: 36px;

      .font(17px; 30px;);
    }

    &__specifications {
      margin-bottom: 56px;
    }

    &__price {
      display: block;
      .margin(0; auto; 34px; auto);

      text-align: center;
      font-size: 20px;
    }

    &__button {
      display: block;
      margin: 0;
      padding: 14px;
    }
  }
}


@media (min-width: @width-desktop) {
  .top-product {
    position: relative;

    padding-top: 115px;
    padding-bottom: 71px;


    &__headline {
      order: 1;

      .font(53px; 57px; bold);
    }

    &__sub-headline {
      margin-left: 46px;
      margin-right: 57px;
    }

    &__main {
      position: initial;

      margin-left: 175px;
      padding-right: 583px;
    }

    &__image {
      bottom: 71px;
      right: 50px;

      .size(525px; 636px);
    }

    &__description {
      margin-bottom: 48px;
    }

    &__specifications {
      margin-bottom: 111px;
    }

    &__button {
      padding: 14px;
    }
  }
}
